@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 232, 212);
}
.container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-home{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.container-meal{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/*
header
*/
.header{
  display: flex;
  margin: 20px 0px;
  justify-content: space-between;
  width: 45%;
}
.header a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(82, 82, 82);
}
/* 
component AfficherApi 
*/
.randomMealandDrink{
  width: 900px;
  height: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  background-color: rgb(231, 193, 142);
  border-radius: 20px;
  padding: 30px 25px;
  /* margin-bottom: 30px; */
}
.randomMealandDrink h1{
  margin: 20px 0px;
  text-align: center;
  color: rgb(82, 82, 82);
  font-family: 'Bungee Outline', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}
.randomMealandDrink h2{
  margin: 20px 0px;
  text-align: center;
  color: rgb(82, 82, 82);
  font-family: 'Bungee Outline', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}
.randomMealandDrink p{
  text-align: center;
  font-size: 40px;
  color: rgb(82, 82, 82);
  text-decoration: underline overline rgb(82, 82, 82);
  font-family: 'Bungee Outline', cursive;
  margin-bottom: 20px;
}
.randomMealandDrink .menu{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
.randomMealandDrink .line{
  margin-top: 20px;
  width: 2px;
  height: 500px;
  background-color: rgb(240, 232, 212);
}
.menu .repas,
.menu .boisson{
  margin-top: 40px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42%;
  background-color: rgba(219, 208, 188, 0.856);
  height: auto;
  color: rgb(82, 82, 82);
  border-radius: 5%;
}
.menu .repas h2{
  margin-top: 20px;
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
  height: auto;
}
.menu .repas h4{
  margin-bottom: 40px;
}

.menu .boisson h2{
  margin-top: 20px;
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
  height: auto;
}
.menu .boisson h4{
  margin-bottom: 40px;
}
.menu .boisson a,
.menu .repas a{
  text-decoration: none;
  font-weight: bold;
  margin-top: 30px;
  color:  rgb(82, 82, 82);
  margin-bottom: 10px;
}

.menu .boisson a:hover,
.header a:hover,
.menu .repas a:hover{
  color: brown;
}

.menu .images{
  border-radius: 50%;
  height: 250px;
  width: auto;
}

.images{
  height: 250px;
  width: auto;
}
/*
Welcome page
*/
@keyframes click {
  0%   {left: -20px;}
  60%  {left: 40%;}
  100% {left: -20px;}
}
@keyframes texte{
  0%   {opacity: 0;padding: 10px;}
  50%  {opacity: 1; padding: 10px;background-color: rgba(255, 255, 255, 0.418);border-radius: 30%;}
  100% {opacity: 1; padding: 10px;background-color: rgba(255, 255, 255, 0.418);border-radius: 30%;}
}
.welcome_page{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-image: url("../src/assets/danielle-macinnes-IuLgi9PWETU-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.welcome_page .enter{
  margin-bottom: 30px;
  position: absolute;
  width: 10px;
  font-size: 30px;
  left: -20px;
  animation-name: click;
  animation-duration: 5s;
  height: auto;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
.welcome_page .click{
  margin-bottom: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.welcome_page a{
  text-align: center;
  text-decoration: none;
  opacity: 0;
  color: rgb(163, 45, 45);
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  animation-name: texte;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

/* 
recipes page
*/
.description{
  margin-top: 50px;
  padding: 10px 20px;
  width: 90%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}
.description .text{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 50%;
}
.description .text p{
  text-align: left;
  font-size: 20px;
  text-decoration: underline rgb(82, 82, 82);
  font-family: 'Roboto', sans-serif;
  color: rgb(82, 82, 82);
  margin-bottom: 10px;
  font-weight: bold;
}
.description .text ul li{
  padding: 10px 0;
}
.method{
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}
.method h2{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: rgb(82, 82, 82);
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}
.method p{
  margin-top: 10px;
  line-height: 30px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: rgb(82, 82, 82);
  font-size: 20px;
  text-decoration: none;
}
/*
apiUsed
*/
.api{
  width: 50%;
  height: auto;
  text-align: left;
}
.api h1{
  text-align: center;
  margin-bottom: 10px;
}
.api p{
  margin: 10px 0px;
  font-size: 18px;
}